@{
    ViewData["Title"] = "Home Page";
}
@using Portal.MVC.Models;
@model HomeViewModel

<div>
    <h2>Items</h2>
    <div id="searchbar">
        <form class="form-inline" asp-controller="Home" asp-action="Index" method="get">
            <div class="form-group">
                <label for="item-search">Search name:</label>
                <input class="form-control" id="item-search" type="text" asp-for="ItemSearch" value="@Model.ItemSearch">
                <label for="category">Select category:</label>
                @Html.DropDownListFor(model => model.Category, Model.Categories.Prepend(new SelectListItem("-- Any --", "")), new{@class="form-control"})
            </div>
            <input class="btn btn-primary" type="submit" value="Search">
        </form>
    </div>
    <div>
        <form class="form-inline" asp-controller="Home" asp-action="Category" method="get">
            <div class="form-group">
                <label for="category">All items in category:</label>
                @Html.DropDownList("id", Model.Categories, new{@class="form-control"})
            </div>
            <input class="btn btn-primary" type="submit" value="List items">
        </form>
    </div>
    <div id="item-previews">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Publisher</th>
                    <th>Current bid</th>
                </tr>
            </thead>
            @foreach(ItemPreviewViewModel item in Model.Items)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Item", "Home", new { id = item.Id})">
                            @item.Name
                        </a>
                    </td>
                    <td>@item.Publisher</td>
                    <td>@item.CurrentBid</td>
                </tr>
            }
        </table>
    </div>
    <div id="index-paging">
        <div id="paging-prev">
            @if(Model.FirstPage)
            {
                <span>Previous</span>
            }
            else
            {
                <form asp-controller="Home" asp-action="Index" method="get">
                    <input type="hidden" asp-for="Page" value="@(Model.Page - 1)" />
                    <input type="hidden" asp-for="ItemSearch" value="@Model.ItemSearch" />
                    <input type="hidden" asp-for="Category" value="@Model.Category" />
                    <input class="btn" type="submit" value="Previous" />
                </form>
            }
        </div>
        <div id="paging-current">@Model.Page / @Model.MaxPage </div>
        <div id="paging-next">
            @if(Model.LastPage)
            {
                <span>Next</span>
            }
            else
            {
                <form asp-controller="Home" asp-action="Index" method="get">
                    <input type="hidden" asp-for="Page" value="@(Model.Page + 1)" />
                    <input type="hidden" asp-for="ItemSearch" value="@Model.ItemSearch" />
                    <input type="hidden" asp-for="Category" value="@Model.Category" />
                    <input class="btn" type="submit" value="Next" />
                </form>
            }
        </div>
    </div>
</div>